@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import "tailwindcss";

.dm-serif {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
